.banner{
  width:1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 100px;
  align-items: center;
}
.banner1{
  margin-top: 100px;
  width: 100vw;
}

.banner2{

  width: 100vw;
}

.banner3{
  width: 100vw;
}

.divider{
  font-family: Kanit,arial;
  font-size: 40px;
  color: rgb(74, 6, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100vw;

}
